<!DOCTYPE html>
<html>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.7.1/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 Sep 2017 07:37:30 GMT -->
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <partial name="InventoryFiles/_Styles" />
</head>
    <body class="gray-bg" style="background-image:url(/appimages/InventoryBg.jpg); background-size:cover;">
        <br /> <br /> <br /> <br /> <br />
        
        <partial name="InventoryFiles/_Scripts" />

         @RenderBody()
        
   
    </body>
</html>
