<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - Inventory Manager</title>

    <partial name="InventoryFiles/_Styles" />
</head>

<body class="">

    <div id="wrapper">

        <partial name="InventoryFiles/_SideLeftBar" />

        <div id="page-wrapper" class="gray-bg">
            <partial name="InventoryFiles/_FixedTopNavbar" />
            <partial name="InventoryFiles/_TopNavigation" />
           
            <div class="wrapper wrapper-content">
                @*<div class="middle-box text-center animated fadeInRightBig">

                </div>*@
                @RenderBody()
            </div>

            <partial name="InventoryFiles/_Footer" />
        </div>
    </div>

    <partial name="InventoryFiles/_Scripts" />


</body>

</html>
